*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;
  
}
@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
}

/* Kajiro Font */
@font-face {
    font-family: 'Kajiro';
    src: url('./fonts/kajiro/Kajiro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
html, 
body{
    width: 100%;
    height: 100%;
}

.cursor{
    visibility: hidden;
    height: 20px;
    display: flex;
    justify-content: center;
   align-items: center;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    mix-blend-mode: difference;
    transition: all linear 0.2s; 
    pointer-events: none;
    background-size: cover;
    background-position: center;
}

.cursor p{
    display: none;
    font-weight: 600 !important;
    font-size: 1vw;
    color: black;
}

#main{
   width: 100%;
   height: 100vh;
}

#back{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(252, 22, 22); */
}

#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#workingarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;

}#top{
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.26); */
}
#nav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#nav img{
    height: 60px;
}
#nright{
    display: flex;
    gap: 50px;
}
#nright a{
    color: white;
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
  
}


#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
 }

#heroleft{
   min-width: 50%;
   
}

#heroright{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
   width: 30%;
   color: white;
}

#heroleft .elem{
    position: relative;
   height: 9vw;
   overflow: hidden;
   
}

#heroleft .elem h1:nth-child(1)
{
    top: 0;
 
}
#heroleft button{
    cursor: pointer;
    padding: .8vw 3vw;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: 'kajiro';
    pointer-events: all;
    color: black;
}
#heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    letter-spacing: 2px;
    color: white;
    font-family: 'Kajiro';
    font-size: 10vw;
    font-weight: 100;

}

/* hero section styling end  */

/* page1 css start  */

.bg{
    min-height: 100vh;
    width: 100%;
    background-color: #0F0D0D;
}
.page1{
    min-height: 100vh;
    width: 100%;
    border: 2px solid #0F0D0D;
    color: white;
    position: relative;
    z-index: 9;
}

.page1 h1{
    font-weight: 300;
    font-size: 8vw;
    margin-top: 12vw;
    margin-left: 10vw;
}

.page1 h2{
    font-weight: 300;
    font-size: 8vw;
    margin-left: 26vw;
 
}


.page1 video{
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

/* page2 css  */

.page2{
    position: relative;
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    padding: 140px 100px;
}

.page2 h2{
    font-size: 4vw;
    font-weight: 400;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
   
}

.box:nth-last-child(1)
{
    border-bottom: 2px solid #dadada;
}



/* page 3 css  */

.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: red;
    padding: 140px 100px;
 
}

.page3 h2{
     font-size: 4vw;
     font-weight: 400;
     

}
.cards {
    display: flex;
    gap: 20px;
    align-items: center;
}

.card{
    width: 300px;
    height: 400px;
    background-color: green;
}